aws_region           = "us-east-1"
project              = "mcx-trade"
environment          = "prod"
database_name        = "mcx_trade"
database_username    = "mcx_app"
database_password    = "ChangeMe123!"
backend_image        = "123456789012.dkr.ecr.us-east-1.amazonaws.com/mcx-backend:latest"
ml_image             = "123456789012.dkr.ecr.us-east-1.amazonaws.com/mcx-ml:latest"
frontend_bucket_name = "mcx-trade-frontend-prod-unique"
